.container {
  max-width: 720px;
}
.status {
  color: #00cccc;
}
.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 300px;
  overflow: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
}
