.link {
  display: block;
  line-height: 64px;
  text-decoration: none;
}
.active {
  color: var(--theme-ui-colors-text, #f5f6f7);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  align-self: flex-end;
}
.error {
  display: flex;
  align-items: center;
  color: rgb(229, 43, 26);
}
