.container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-areas: "list" "stats"; */
  max-height: calc(100vh - 88px);
  width: 100%;
}

.section {
  display: grid;
  max-height: calc(100vh - 88px);
  grid-template-rows: minmax(0, 1fr);
}
