.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  padding: 24px 16px 40px 16px;
}

.section {
  display: grid;
  max-height: calc(100vh - 88px);
  grid-template-rows: min-content min-content minmax(0, 1fr);
  grid-area: list;
}
.ingredientsList {
  overflow-y: auto;
}

.tabsContainer {
  display: flex;
}
